.row{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.column{
    flex: 50%;
    max-width: 49%;
    padding: 4px;
}

.column img{
    margin-top: 9px;
    vertical-align: middle;
    width: 100%;
}

h1 {
    font-size: 45px
}

body {
    background-color: rgb(223, 252, 223);
  }

.links {
    background-color: whitesmoke;
    padding: 1px;    
    text-align: center;
}

.pics {
    display: flex;
  }
  
.picture {
    flex: 33.33%;
    padding: 5px;
  }