body {
    background-color: lightgray;
  }
  
  h1 {
    color: rgb(87, 85, 85);
    font-family: copperplate;
    text-align: center;
  }

  h3 {
    color: darkgray;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }